* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cfd9e4af;
}

.calendario-contenido {
    width: 600px;
    background-color: #2629d4a2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.calendario-contenido  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day-header {
    background-color: #fbfffc;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    color: #495057;
    cursor: pointer;
}

.day-cell {
    border: 1px solid #d6c9c6d3;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    cursor: grabbing;
}